.formbold-mb-5 {
    margin-bottom: 20px;
  }
  .formbold-pt-3 {
    padding-top: 12px;
  }
  .formbold-main-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    margin-bottom: 50px;
  }

  .formbold-form-wrapper {
    margin: 0 auto;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 12.8px 9px 33.6px rgba(0, 0, 0, 0.02), 102px 72px 268px rgba(0, 0, 0, 0.04);
    max-width: 550px;
    width: 100%;
    background: white;
  }
  .formbold-form-label {
    display: block;
    font-weight: 500;
    font-size: 16px;
    color: #343E61;
    margin-bottom: 12px;
  }
  .formbold-form-label-2 {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
  }

  .formbold-form-input {
    width: 100%;
    padding: 12px 24px;
    border-radius: 6px;
    border: 1px solid #e0e0e0;
    background: white;
    font-weight: 500;
    font-size: 16px;
    color: #6b7280;
    outline: none;
    resize: none;
  }
  .formbold-form-input:focus {
    border-color: #343E61;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
  }

  .formbold-btn {
    width: 100%;
    height: 50px;
    background-color: #FF6854;
    color: #F4F3EF;
    border: none;
    font-size: 15px;
    font-weight: 500;
    border-radius: 10px;
    letter-spacing: 1px;
    cursor: pointer;
    margin-top: 15px;
    text-align: center;
}
  .formbold-btn:hover {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
    background-color: #343E61;
  }

  .formbold--mx-3 {
    margin-left: -12px;
    margin-right: -12px;
  }
  .formbold-px-3 {
    padding-left: 12px;
    padding-right: 12px;
  }
  .flex {
    display: flex;
  }
  .flex-wrap {
    flex-wrap: wrap;
  }
  .w-full {
    width: 100%;
  }
  @media (max-width: 480px) {
    .formbold-form-wrapper {
      width: 90vw;
      padding: 15px;
    }
  }